In [1]:
import pandas as pd

In [3]:
data = {
    'cats':[3,5,3,2]
    'dogs':[5,3,8,4]
    
}

SyntaxError: invalid syntax (3723315271.py, line 3)

In [4]:
data = {
    'cats':[3,5,3,2],
    'dogs':[5,3,8,4]
    
}

SyntaxError: invalid syntax (3723315271.py, line 3)

In [5]:
data = {
    'cats':[3,5,3,2],
    'dogs':[5,3,8,4]
    
}

In [6]:
listView = pd.DataFrame(data)
listView

   cats  dogs
0     3     5
1     5     3
2     3     8
3     2     4

In [1]:
import random

In [2]:
random.seed(5)

In [3]:
print(random.randint(1,567))

262

In [4]:
print(random.randint(4,7))

6

In [ ]:
for i in range (19):
    random.seed(5)
    print(random.randint(5,500))
    random.seed(3)
    print